<li class="test" id="test-{{id}}">
  <div class="test-header">{{title}}</div>
  <div class="test-body">
    <div class="test-description">
      <pre class="test-code" id="test-{{id}}-code-1">
        {{code1}}
      </pre>
      <pre class="test-code" id="test-{{id}}-code-2">
        {{code2}}
      </pre>
    </div>
    <div class="test-results">
      <div class="test-result" id="test-{{id}}-result-1">
        <div class="milliseconds">Average cost: <span class="value" id="test1-ms-{{id}}"></span></div>
        <div class="relative"><span class="value" id="test1-rel-{{id}}"></span></div>
      </div>
      <div class="test-result" id="test-{{id}}-result-2">
        <div class="milliseconds">Average cost: <span class="value" id="test2-ms-{{id}}"></span></div>
        <div class="relative"><span class="value" id="test2-rel-{{id}}"></span></div>
      </div>
    </div>
    <div class="test-results">
      <div class="test-result" id="test-{{id}}-equiv-1">
        <div class="per-second"><span class="value" id="test-{{id}}-per-sec-1">0</span>/sec</div>
        <div class="per-frame"><span class="value" id="test-{{id}}-per-frame-1">0</span>/frame</div>
      </div>
      <div class="test-result" id="test-{{id}}-equiv-2">
        <div class="per-second"><span class="value" id="test-{{id}}-per-sec-2">0</span>/sec</div>
        <div class="per-frame"><span class="value" id="test-{{id}}-per-frame-2">0</span>/frame</div>
      </div>
    </div>
  </div>
  <div class="test-footer">
    <button id="execute-text-{{id}}" data-cmd="execute-text">Run</button>
  </div>
</li>